<!--Header-->
<div class="container-fluid p-0 contenedor">
    <img src="assets/imagenes/slider.png" class="w-100" alt="" srcset="">

    <div class="texto p-3 rounded text-center">
        <h2 class="text-light mt-2">ADMINISTRA TU CAMPEONATO</h2>
        <p class="texto-info text-light">
            Para crearce un campeonato solo tiene que registrarse
            y podrá agregar equipos, jugadores, marcadores y mucho más.</p>
        <button class="btn btn-light btn-lg">Nuevo Campeonato</button>
    </div>
</div>

<br> <br> <br> <br>

<div class="app-promocion">
    <div class="text-center">
        <h2>DESCARGUE AHORA LA APP</h2>
    </div>
    <br> <br>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <br> <br>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-8">
                            <p>Puedes descargar nuestra app en Google Play y App Store.</p>
                            <p>Nuestra app cuenta con todas las funcionalidades necesarias para administrar tus
                                campeonatos
                            </p>
                        </div>
                        <div class="col-lg-2"></div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-4">
                            <img src="assets/imagenes/google-play-icon.png" alt="" srcset="">
                        </div>
                        <div class="col-lg-4">
                            <img src="assets/imagenes/app-store-icon.png" alt="" srcset="">
                        </div>
                        <div class="col-lg-2"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 campeonato-fondo rounded">
                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="assets/imagenes/app1.png" class="d-block w-100">
                        </div>
                        <div class="carousel-item">
                            <img src="assets/imagenes/app3.png" class="d-block w-100" >
                        </div>
                    </div>
                    <button class="carousel-control-prev " type="button" data-bs-target="#carouselExampleControls"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden ">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<br> <br>

<div class="container-fluid campeonato-fondo text-light">
    <br><br>
    <div class="text-center">
        <h3>CAMPEONATOS</h3>
    </div>
    <br>

    
    <div class="container">
        <div class="row pb-3 mb-3">
            <div class="col-2 mb-3">
                <div class="border rounded contenedor-campeonato" >
                    <img src="assets/imagenes/logo.png" class="w-100" >
                    <p class="ms-2 me-2">Campeonato de ejemplo 1</p>
                    <div class="seguidores">21</div>
                </div>
            </div>
            <div class="col-2">
                <div class="border rounded contenedor-campeonato" >
                    <img src="assets/imagenes/logo.png" class="w-100" >
                    <p class="ms-2 me-2">Campeonato de ejemplo 1</p>
                    <div class="seguidores">21</div>
                </div>
            </div>
            <div class="col-2">
                <div class="border rounded contenedor-campeonato" >
                    <img src="assets/imagenes/logo.png" class="w-100" >
                    <p class="ms-2 me-2">Campeonato de ejemplo 1</p>
                    <div class="seguidores">21</div>
                </div>
            </div>
            <div class="col-2">
                <div class="border rounded contenedor-campeonato" >
                    <img src="assets/imagenes/logo.png" class="w-100" >
                    <p class="ms-2 me-2">Campeonato de ejemplo 1</p>
                    <div class="seguidores">21</div>
                </div>
            </div>
            <div class="col-2">
                <div class="border rounded contenedor-campeonato" >
                    <img src="assets/imagenes/logo.png" class="w-100" >
                    <p class="ms-2 me-2">Campeonato de ejemplo 1</p>
                    <div class="seguidores">21</div>
                </div>
            </div>
            <div class="col-2">
                <div class="border rounded contenedor-campeonato" >
                    <img src="assets/imagenes/logo.png" class="w-100" >
                    <p class="ms-2 me-2">Campeonato de ejemplo 1</p>
                    <div class="seguidores">21</div>
                </div>
            </div>
            <div class="col-2">
                <div class="border rounded contenedor-campeonato" >
                    <img src="assets/imagenes/logo.png" class="w-100" >
                    <p class="ms-2 me-2">Campeonato de ejemplo 1</p>
                    <div class="seguidores">21</div>
                </div>
            </div>
            <div class="col-2">
                <div class="border rounded contenedor-campeonato" >
                    <img src="assets/imagenes/logo.png" class="w-100" >
                    <p class="ms-2 me-2">Campeonato de ejemplo 1</p>
                    <div class="seguidores">21</div>
                </div>
            </div>
            <div class="col-2">
                <div class="border rounded contenedor-campeonato" >
                    <img src="assets/imagenes/logo.png" class="w-100" >
                    <p class="ms-2 me-2">Campeonato de ejemplo 1</p>
                    <div class="seguidores">21</div>
                </div>
            </div>
            <div class="col-2">
                <div class="border rounded contenedor-campeonato" >
                    <img src="assets/imagenes/logo.png" class="w-100" >
                    <p class="ms-2 me-2">Campeonato de ejemplo 1</p>
                    <div class="seguidores">21</div>
                </div>
            </div>
            <div class="col-2">
                <div class="border rounded contenedor-campeonato" >
                    <img src="assets/imagenes/logo.png" class="w-100" >
                    <p class="ms-2 me-2">Campeonato de ejemplo 1</p>
                    <div class="seguidores">21</div>
                </div>
            </div>
            <div class="col-2">
                <div class="border rounded contenedor-campeonato" >
                    <img src="assets/imagenes/logo.png" class="w-100" >
                    <p class="ms-2 me-2">Campeonato de ejemplo 1</p>
                    <div class="seguidores">21</div>
                </div>
            </div>
        </div>
    </div>
    <br> <br>
</div>

<br> <br>