.enlace {
    font-size: 14px;
    margin-bottom: 12px;
    color: rgb(21, 21, 255);
}

.errInput {
    font-size: 15px;
    background-color: rgba(253, 82, 82, 0.575);
    padding-left: 7px;
    padding-top: 6px;
    padding-bottom: 6px;
}