.info {
    background-color: rgba(255, 255, 146, 0.685);
    padding: 10px;
}

.errInput {
    font-size: 15px;
    background-color: rgba(253, 82, 82, 0.575);
    padding-left: 7px;
    padding-top: 6px;
    padding-bottom: 6px;
}