<div class="container mb-5">
    <br> <br> <br>
    <div class="row justify-content-center">
        <div class="col-lg-4 border rounded ps-4 pe-4">
            <form #formUserRegistro="ngForm" id="formUserRegistro">
                <br>
                <h3>Crear Cuenta</h3>
                <br>
                <label>Nombres:</label>
                <input type="text" class="form-control" name="nombres" #nombres="ngModel"
                    [(ngModel)]="UserCreate.nombre" required>
                <div class="errInput rounded mt-1" *ngIf="nombres.touched && nombres.invalid">
                    Campo inválido, ingrese el nombre.
                </div>
                <br>
                <label>Email:</label>
                <input type="email" class="form-control" name="email" #email="ngModel" [(ngModel)]="UserCreate.correo"
                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>
                <div class="errInput rounded mt-1" *ngIf="email.touched && email.invalid">
                    Ingrese un email válido.
                </div>
                <div class="errInput rounded mt-1" *ngIf="emailExiste">
                    Este email ya existe.
                </div>
                <br>
                <label>Contraseña:</label>
                <div class="input-group" id="show_hide_password">
                    <input class="form-control" type="password" [type]="getType()" name="clave" #clave="ngModel"
                        minlength="6" [(ngModel)]="UserCreate.password" required>
                    <div class="input-group-text" id="basic-addon2">
                        <a (click)="toggleTextPassword()">
                            <i class="fa fa-eye-slash" *ngIf="!passEstado"></i>
                            <i class="fas fa-eye" *ngIf="passEstado"></i>
                        </a>
                    </div>
                </div>
                <div class="errInput rounded mt-1" *ngIf="clave.touched && clave.invalid">
                    La contraseña debe tener más de 6 caracteres.
                </div>
                <br>
                <button class="btn btn-success w-100" [disabled]="formUserRegistro.invalid" 
                (click)="verificarEmailExistente()">
                    Continuar
                </button>
                <button class="btn btn-outline-secondary w-100 mt-3" [routerLink]="['/login']">
                    Inicar Sesión
                </button>
                <br> <br>
            </form>
        </div>
    </div>
</div>


<br> <br> <br> <br>

<app-spinner></app-spinner>