.subir-image {
    margin-top: 3px;
    padding: 5px 10px;
    color: #fff;
    border: 0px solid #fff;
    border: solid gray 2px;
    border-style: dashed;
    width: 100%;
    height: auto;
}

#file-upload-imagen-create-equipo {
    display: none;
}

#file-upload-imagen-equipo-update {
    display: none;
}

.image-equipo {
    width: 50px;
    height: auto;
}
